In [ ]:
import pandas as pd
import numpy as np
import scipy 
from scipy import stats

# Call center example

In [ ]:
# To calculate both the tails test

2*stats.t.cdf(-1.4,49)

0.16781331091681306

In [ ]:
# To calculate one  tails test


#1-stats.t.cdf(1.4,49)  you can find like this also

stats.t.cdf(-1.4,49)

0.08390665545840653

# One tail test

In [ ]:
# Ice cream factory example
 
 
data = pd.Series([0.593,0.142,0.329,0.691,0.231,0.793,0.519,0.392,0.418])
data

0    0.593
1    0.142
2    0.329
3    0.691
4    0.231
5    0.793
6    0.519
7    0.392
8    0.418
dtype: float64

In [ ]:
p = stats.ttest_1samp(data,0.3)[1]  # mu = 0.3,  index of pvalue is 1, so [1] is given....
                                    #stats.ttest_1samp(data,0.3) this command will give you two tail test values so it will have two indexes 0(tvalue) and 1(pvalue) so 1 will be the p value
p                    # pvalue is given so p = p1+p2

0.05853032968489765

In [ ]:
# This pvalue is two tail test.
# So this is one tail test, pvalue divide it by 2 to get the final pvalue 

# Alpha = 0.05 , pvalue = 0.029  so  P <= Alpha so accept Alter.Hypothises



p_value = p/2
p_value

0.029265164842448826

# Two tail test

In [ ]:
# Compairing drugs - Control group and treatment group

control = pd.Series([91,87,99,77,88,91])
treat = pd.Series([101,110,103,93,99,104])

In [ ]:
stats.ttest_ind(control,treat)

# We are conducting 2 sample 2 tail test,so no need to divide it by 2
# Interpretation :- 2 Responses are not equal so drug is working

Ttest_indResult(statistic=-3.4456126735364876, pvalue=0.006272124350809803)

#  2 Proportion test

In [ ]:
# Placement data example
# They have given only 247 data that this much students have placed from a population data with proportion 
n1 = 247
p1 = .37  # Placed proportion i.e 1
          # Proportion is 0.37

n2 =308
p2 = .39 # Placed proportion i.e 1 
         # Proportion is 0.39

In [ ]:
# We are   GENERATING THE DATA.


pop1 =np.random.binomial(1,p1,n1) 
# 1 is placed and 0 is not placed i.e Probability success 
# We are taking success for placed and not placed i.e 1 and 0

pop2 =np.random.binomial(1,p2,n2)
# As it is random function every time you execute you will get different value

In [ ]:
pop1

In [ ]:
pop2

In [ ]:
import statsmodels.api as sm

In [ ]:
sm.stats.ttest_ind(pop1,pop2)
# Middle value is the P-value 


# Interpretation : Students are equally got placed in 2 stats
                # No significant differences in providing placements opportunities to students in 2 stats

(-0.48739874126384336, 0.6261689375124135, 553.0)