In [1]:
import pandas as pd
import numpy as np
import scipy 
from scipy import stats

# Call center example

In [ ]:
# To calculate both the tails test

2*stats.t.cdf(-1.4,49)

0.16781331091681306

In [ ]:
# To calculate one  tails test


#1-stats.t.cdf(1.4,49)  you can find like this also

stats.t.cdf(-1.4,49)

0.08390665545840653

# One tail test

In [ ]:
# Ice cream factory example
 
 
data = pd.Series([0.593,0.142,0.329,0.691,0.231,0.793,0.519,0.392,0.418])
data

0    0.593
1    0.142
2    0.329
3    0.691
4    0.231
5    0.793
6    0.519
7    0.392
8    0.418
dtype: float64

In [ ]:
p = stats.ttest_1samp(data,0.3)[1]  # mu = 0.3,  index of pvalue is 1, so [1] is given....
                                    #stats.ttest_1samp(data,0.3) this command will give you two tail test values so it will have two indexes 0(tvalue) and 1(pvalue) so 1 will be the p value
p                    # pvalue is given so p = p1+p2

0.05853032968489765

In [ ]:
# This pvalue is two tail test.
# So this is one tail test, pvalue divide it by 2 to get the final pvalue 

# Alpha = 0.05 , pvalue = 0.029  so  P <= Alpha so accept Alter.Hypothises



p_value = p/2
p_value

0.029265164842448826

# Two tail test

In [ ]:
# Compairing drugs - Control group and treatment group

control = pd.Series([91,87,99,77,88,91])
treat = pd.Series([101,110,103,93,99,104])

In [ ]:
stats.ttest_ind(control,treat)

# We are conducting 2 sample 2 tail test,so no need to divide it by 2
# Interpretation :- 2 Responses are not equal so drug is working

Ttest_indResult(statistic=-3.4456126735364876, pvalue=0.006272124350809803)

#  2 Proportion test

In [ ]:
# Placement data example
# They have given only 247 data that this much students have placed from a population data with proportion 
n1 = 247
p1 = .37  # Placed proportion i.e 1
          # Proportion is 0.37

n2 =308
p2 = .39 # Placed proportion i.e 1 
         # Proportion is 0.39

In [ ]:
# We are   GENERATING THE DATA.


pop1 =np.random.binomial(1,p1,n1) 
# 1 is placed and 0 is not placed i.e Probability success 
# We are taking success for placed and not placed i.e 1 and 0

pop2 =np.random.binomial(1,p2,n2)
# As it is random function every time you execute you will get different value

In [ ]:
pop1

In [ ]:
pop2

In [ ]:
import statsmodels.api as sm

In [ ]:
sm.stats.ttest_ind(pop1,pop2)
# Middle value is the P-value 


# Interpretation : Students are equally got placed in 2 stats
                # No significant differences in providing placements opportunities to students in 2 stats

(-0.48739874126384336, 0.6261689375124135, 553.0)

# Anova Testing

In [ ]:
from sklearn import datasets

iris = datasets.load_iris()
iris

In [ ]:
df = pd.DataFrame(iris.data,columns = iris.feature_names)
df.head()

In [11]:
# Adding a column

df['target']=iris.target
df    
        #  0 is setosa 
        #  1 is versicolor
        #  2 is verginica

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [ ]:
df.iloc[:,1]   # This all are generalized command to execute if you want to

In [ ]:
df[df['target']==0]  # setosa

In [ ]:
df[df['target']==1]  # versicolor

In [ ]:
df[df['target']==2]  # verginica

In [ ]:
df[df['target']==0]['sepal length (cm)']


# df[df['target']==1]['sepal width (cm)']
# df[df['target']==2]['petal width (cm)'],etcs.

In [24]:
group_setosa =df[df['target']==0]['sepal width (cm)']
group_versicolor =df[df['target']==1]['sepal width (cm)']
group_verginica =df[df['target']==2]['sepal width (cm)']

In [ ]:
group_setosa
#group_versicolor
#group_verginica

In [29]:
group_setosa.mean(),group_versicolor.mean(),group_verginica.mean()

(3.428, 2.7700000000000005, 2.974)

In [32]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [38]:
# f_oneway - one way ANOVA 


stats.f_oneway(group_setosa,group_versicolor,group_verginica)

# p-value = 4.49e-17 i.e 4.49^-17 i.e 0... so accept alternative hypothesis

F_onewayResult(statistic=49.160040089612075, pvalue=4.492017133309115e-17)

In [40]:
 # Another way of Anova testing  doing a example
 dff = pd.DataFrame(iris.data)
 stats.f_oneway(dff.iloc[:,0],dff.iloc[:,1],dff.iloc[:,2],dff.iloc[:,3])

F_onewayResult(statistic=482.91531656927964, pvalue=4.660592480454751e-159)

In [2]:
# Interpretation :-   Myu1 = Myu2 = Myu3 = Myu4 is null,but in this case one of the MYU is different so it is ALTERNATIVE hypothesis.

# Chi square test

In [9]:
from scipy.stats import chi2_contingency 
from matplotlib import pyplot as plt

In [4]:
# Athlet and smoker example

In [5]:
data =[[14,4],[0,10]]
data

[[14, 4], [0, 10]]

In [8]:
dt = pd.DataFrame(data,index=['Athlete','Non-Athlete'],
                      columns=['Non-smoker','Smoker'])
dt

             Non-smoker  Smoker
Athlete              14       4
Non-Athlete           0      10

In [10]:
chi2_contingency(data)

Chi2ContingencyResult(statistic=12.600000000000001, pvalue=0.0003857467556820071, dof=1, expected_freq=array([[9., 9.],
       [5., 5.]]))